<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App - Users</title>
</head>
<body>
    <h1>All users</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <% users.map(el => { %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.name %></td>
                    <td><%= el.age %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>